@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

html,
body,
#root {
  height: 100%;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app > *:not(.footer) {
  flex: 1 0 auto;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

/* Blur effect for background when login popup is open */
.blurred {
  filter: blur(5px);
  pointer-events: none;
  user-select: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.app {
  width: 80%;
  margin: auto;
  padding-top: 120px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
